<html>

<head>
	<meta http-equiv="Access-Control-Allow-Origin" content="*">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />

	<title>:. Lawniet Games .:</title>

	<script src="../static/js/application.js"></script>
	<script src="../static/js/form.js"></script>
	<script src="../static/js/map.js"></script>
	<style>
		@import url("../static/css/main.css");
	</style>
</head>

<body>
	<div class="row">
		<form class="col s12">
			<div class="row">
				<div class="input-field col s6">
					<input placeholder="Placeholder" id="first_name" type="text" class="validate">
					<label for="first_name">Primeiro nome</label>
				</div>
				<div class="input-field col s6">
					<input id="last_name" type="text" class="validate">
					<label for="last_name">Útimo Nome</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<input id="password" type="password" class="validate">
					<label for="password">Senha</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<input id="email" type="email" class="validate">
					<label for="email">E-mail</label>
				</div>
			</div>
		</form>
	</div>
</body>

</html>